*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #35424a;
}

.container .navbar{
    height: 80px;
}

.logo{
    font-family: sans-serif;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 35px;
}

.navbar ul{
    margin-right: 20px;
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
    /* display: inline-block; */
    list-style: none;
    float: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    margin-top: 34px;
}

.sağ-köşe{
    font-family: sans-serif;
    color: purple;
}

.renk{
    color: purple;
}

.about{
    color: white;
    text-decoration: none;
}

.çizgi{
    /* width: 100%; */
    border-style: solid;
    color: purple;
    border-width: 2px;
}

.açıklama{
    text-align: center;
    padding-bottom: 75px;
    padding-top: 125px;
    font-size: 25.5px;
    font-family: sans-serif;
    background: url(./images/showcase.jpg);
    color: white;
    height: 20vh;
    background-size: 100% 200%;
}

.arka-plan-1{
    font-family: sans-serif;
    background-color: #35424a;
    color: white;
    /* margin: 0 0 auto auto; */
    /* position: relative; */
}

.abone{
    padding: auto;
    margin: 29px 35px 0px;
    /* margin-top: 29px; */
    position: absolute;
}

.e-mail-sağ{
    text-align: right;
    padding: 80px 27px 0;
}

.e-mail-sağ input{
    text-align: left;
    padding: 10px 11px 7px 11px;
    margin-bottom: -5px;
}

.e-mail-sağ input:focus{
    outline: 0;
    box-shadow: none;
}

.e-mail{
    padding-bottom: 20px;
    /* padding: 0 5px auto 25px; */
    margin-top: -55px; 
}

.gönder{
    color: white;
    background-color: #e8491d;
}

.html5{
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    margin: 0 0 25px;
    padding: 50px;
}

.html-foto{
    height: 100px;
    margin: 25px auto;
}

.css{
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 0 15px;
    margin-top: -390px;
}

.css-foto{
    height: 120px;
    margin: 25px auto;
}

.grafik{
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    /* padding: 25px 700px */
    position: absolute;
    right: 35px;
    margin-top: -300px;
}

.grafik-1{
    height: 120px;
    margin: 25px auto;
}

.alt-orta{
    background-color: #35424a;
    height: 90px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}

.alt-orta p{
    text-align: center;
    padding-top: 17px;
}

.alt-orta img{
    height: 40px;
    padding-top: 7px;
}